@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.navbar{
    background-color: #EFECEF;
}
.navbar-brand img{
    width: 75% !important;
    height: 6rem !important;
}
.navbar .nav-link{
    color: #0F0E0E !important;
}

.sidebar{
    background-color: #CAF0F8;
    width: 15%;
    height: 245vh !important;
}

a{
    text-decoration: none;
}

.icon-links a{
    color: #0F0E0E;
}
.settings-icon{
    width: 15%;
}
.home-content span , hr{
    color: #00B4D8;
}
hr{
    border: 1px solid #00B4D8;
}
h5{
    color: #00B4D8;
}

.btn-2{
    background-color: #0077B6;
    color: #FFF;
    margin-left: 15rem !important;
}
.btn-2:hover{
    background-color: #0077B6;
    color: #FFF;
}
.card{
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), var(--Highlight, #E7E7E7);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}
.card h5{
    color: #00B4D8;
}
.card-1{
    height: 50% !important;
}
.card-2{
    margin-top: 15rem !important;
}
.a-link{
    color: #00B4D8;
}