@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
.navbar,
.btn-1 {
	background-color: #efecef;
}
.navbar-brand img {
	width: 75% !important;
	height: 6rem !important;
}
.navbar .nav-link {
	color: #0f0e0e !important;
}
.dropdown-menu {
	background-color: #00b4d8;
}
.dropdown-menu a:hover {
	background: transparent;
}
.sidebar {
	background-color: #caf0f8;
	width: 20%;
	height: 110vh !important;
}

a {
	text-decoration: none;
}

.icon-links a {
	color: #0f0e0e;
}
.settings-icon {
	width: 15%;
}

hr {
	color: #00b4d8;
	border: 2px solid #00b4d8;
}
/* .btn-hr{
    border: 1px solid #FFF;
} */
.first-a {
	color: #00b4d8;
}
.btn-2,
.btn-2:hover {
	background-color: #00b4d8;
}

.button-clicked,
.button-clicked:hover {
	background-color: #00b4d8; /* Change to the desired color */
}

.card{
    width: 85% ;
}
.card .row button {
	display: flex;
	width: 136px ;
	height: 40px;
	padding: 30px 8px !important;
	align-items: center;
	flex-shrink: 0;
}
