@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: #0F0E0E;
}
/* NAVIGATION */
nav{
    margin: 2rem;
}
nav img{
    width: 100%;
    height:3vh;
}

nav ul{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
}
nav ul .help{
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
}
nav ul a{
    text-decoration: none;
    color: #0F0E0E;
}
nav a:hover{
    color: #0077B6;
}
.fa-solid{
    margin-right: 1rem;
}
/* HERO IMAGE */
#hero{
    width: 100%;
    height: 100vh;
    zoom: 67.9%;
}
#contact {
    position: absolute;
    top: 25%;
    left: 36%;
    color:#CAF0F8;
    font-size: 3rem;
    font-weight: 400;
}
/* FORM */
.form-input .first ul{
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 0.8rem;
}
.form-input .first li{
    list-style: none;
}
.form-input .first p{
    margin-bottom: 1rem;
}
.form-input .first input{
    width: 190%;
    height: 30%;
}
.detail {
    margin-right: 25%;
}
.detail p{
    padding-top: 5rem;
    margin-left: 30.3%
}
#text-area{
    width: 81%;
    height: 30vh;
    margin-left: 30.3%;
    margin-top: 1rem;
    border: 0.2px solid black;
}
#submit{
    width: 30%;
    height: 8vh;
    margin-left: 30rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #0077B6;
    border: 1px solid #0077B6;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-size: 0.8rem;
}
#submit:hover{
    background-color: transparent;
    color: #000000;
}
.get{
    text-align: center;
    background-color:#CAF0F8;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
}
.get p{
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 450;
    font-size: 1rem;
}
.get h1{
    font-weight: 500;
    color: #0F0E0E;
    font-size: 2.5rem;
    letter-spacing: 0.2px;
}


/* footer styles */


footer{
    background-color: #0077B6;
}
a{
    text-decoration: none;
}
.footer-wrapper{
    width: 95%;
    margin-inline: auto !important;
}
.footer-logo{
    width: 200px;
    height: 300px;
    background: url(../Images/footer-logo-bg.png) center/ cover no-repeat;
    position: relative;
}
.footer-logo img{
    width: 70%;
    position: absolute;
    top:35% ;
    left:15%;
    /* transform: translate(-35%, 15%); */
}
.footer-content-wrapper{
    width: 70%;
}
footer .footer-content-wrapper form{
    position: relative;
}
footer .footer-content-wrapper button{
    position: absolute;
    top: 4%;
    left: 70.75%;
    
}
.footer-links li{
    list-style: none;
    margin-bottom: 1rem !important;
}
.footer-links a{
    color: white;
}
footer hr{
    color: white;
    border: 2px solid white;
}