/* font-family: 'Lato', sans-serif; */
/* left div */
.left{
    width: 50% !important;
    
    
    background-color:  #CAF0F8;
}
.image_wrapper{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.image_wrapper img{
    width: 40% !important;

    /* position: relative;
    left:160px;
    top:400px; */
    border: 10px solid #0F0E0E;
    outline: 10px solid #00B4D8 ;
    
}
/* .image_wrapper::before{
    content: "";
    position: absolute;
    top: 440px;
    left: 245px;
    right: 826px;
    bottom: -145px;
    border: 15px solid #00B4D8;
} */

/* right div */
.right{
    width: 50%;
    
}
.logo{
    width:70%;
    padding-bottom: 30px;
}
.logo img{
    width: 100%;
    justify-content: center;
}
.right .title{
    color: #0077B6;
    font-family: 'Lato', sans-serif;
    font-size: 57px;
    font-weight: 400;
    line-height: 64px; /* 112.281% */
    letter-spacing: -0.2px;
}
.right .text{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    
}
.sub{
    color: var(--Neutral, #0F0E0E);
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
/* flex styles */
  
  .flex-item {
    flex: 1;
  }

  
  /* media query */
  @media screen and (max-width: 700px) {
    .container {
      flex-direction: column;
      
    }
    .left{
        width: 100%;
        
    }
    .right{
        width: 100%;
    }
    .sub{
        
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.5px;
    }
    
  }
  
