@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.login-section .login-container{
    width: 92% !important;
    height: 123vh !important;
}
.login-image-wrapper{
    width: 45% !important;
    height: 100% !important;
    margin-left: 1rem !important;
    margin-block: 1rem !important;
}
.login-image-wrapper img{
    height: 102% !important;
}
.login-content{
    width: 45% !important;
    margin-top: 3rem !important;
    height: 100% !important;
}
.login-btn{
    background-color: #0077B6;
    border-radius: 0;
}
.login-btn:hover{
    background-color: #0077B6;
}
.reset-a{
    color: 00B4D8;
    text-decoration: none;
}
.login-options{
    position: relative;
    margin-bottom: 3rem !important;
}
.login-content hr{
    border : 2px solid #A7A4A4;
}
.login-content h2{
    background-color: white !important;
    padding-inline: 1rem !important;
    color:  #A7A4A4;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-btn-wrapper button{
    border: 1px solid #0077B6 !important;
    padding-block: 0.5rem !important;
    padding-inline: 0.75rem !important;
}
@media only screen and (max-width: 820px){
    .login-content .top-p{
        width: 90% !important;
    }
}
@media only screen and (max-width: 490px){
    .login-content .top-p{
        width: 90% !important;
    }
}
@media only screen and (max-width: 370px){
    .login-content{
        height: 100% !important;
    }
    .login-options{
        margin-block: 3rem !important;
    }
}
/* input:invalid {
    border: 1px solid red;
} */