@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}
.signup-section .signup-container {
	width: 92% !important;
	height: 100vh !important;
}
.signup-image-wrapper {
	width: 45% !important;
	height: 100% !important;
	margin-left: 1rem !important;
	margin-block: 1rem !important;
}
.signup-image-wrapper img {
	height: 194% !important;
}
.signup-content {
	width: 45% !important;
	margin-top: 3rem !important;
	height: 100% !important;
}
.signup-content h1 span{
	color: #00B4D8;
}

.signup-btn {
	background-color: #0077b6;
	border-radius: 0;
}
.signup-btn:hover {
	background-color: #0077b6;
}
.reset-a {
	color: 00B4D8;
	text-decoration: none;
}
.signup-options {
	position: relative;
	margin-bottom: 3rem !important;
}
.signup-content hr {
	border: 2px solid #a7a4a4;
}
.signup-content h2 {
	background-color: white !important;
	padding-inline: 1rem !important;
	color: #a7a4a4;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.signup-btn-wrapper button {
	border: 1px solid #0077b6 !important;
	padding-block: 0.5rem !important;
	padding-inline: 0.75rem !important;
}
.btn-div #btn-1{
	width: 40% !important;
}
.btn-div button {
	border: 1px solid #0077b6 !important;
	/* padding-block: 0.5rem !important;
	padding-inline: 0.75rem !important; */
	padding-block: 0.35rem !important;
	padding-inline: 3rem !important;
	background-color: #0077b6 !important;
	

}

@media only screen and (max-width: 1280px) {
    .signup-image-wrapper img{
		height: 150% !important;
	}
}
@media only screen and (max-width: 1024px) {
    .signup-image-wrapper img{
		height: 198% !important;
	}
}
@media only screen and (max-width: 912px) {
	.signup-image-wrapper img{
		height: 100% !important;
	}
}
@media only screen and (max-width: 820px) {
	.signup-content .top-p {
		width: 90% !important;
	}
	.signup-image-wrapper img{
		height: 100% !important;
	}
}
@media only screen and (max-width: 768px) {
	.signup-image-wrapper img {
		height: 115% !important;
	}
}
@media only screen and (max-width: 540px) {
	.signup-image-wrapper img {
		height: 169% !important;
	}
}
@media only screen and (max-width: 490px) {
	.signup-image-wrapper {
		width: 1% !important;
		height: 100% !important;
		opacity: 0;
		height: 100%;
	}
	.signup-content .top-p {
		width: 90% !important;
	}
	.signup-content{
		width: 95% !important;
		margin-inline: auto !important;
	}
	/* .signup-btn-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem !important;
	} */
}
@media only screen and (max-width: 414px) {
    .signup-image-wrapper img{
		height: 100% !important;
	}
}
@media only screen and (max-width: 375px) {
	.signup-options {
		margin-block: 2rem !important;
	}
	/* .signup-btn-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem !important;
	} */
}
@media only screen and (max-width: 360px) {
	/* .signup-image-wrapper img {
		height: 95% !important;
	} */
}
@media only screen and (max-width: 280px) {
	/* .signup-image-wrapper img {
		height: 120% !important;
	} */
}

/* input:invalid {
    border: 1px solid red;
} */




