@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    font-family: 'Open Sans', sans-serif;
    background-color: #EFECEF;
}
.navbar-brand img{
    width: 75% !important;
    height: 6rem !important;
}
.navbar .nav-link{
    color: #0F0E0E !important;
}

.payment-hero {
    height: 90vh !important;
    background: url(../Images/payment.png) lightgray 50% center/ cover no-repeat ;
    background-attachment: fixed;
}
a {
    text-decoration: none;
}
.payment-sec1{
    font-family: 'Lato', sans-serif;
}
.payment-container{
    width: 90%;
    margin-inline: auto !important;
}
.btn-div button{
    background-color: #F1EDED;
}
.btn-div button:hover{
    color: #FFFDFD !important;
    background-color: #00B4D8;
}
.btn-div a:hover{
    color: #FFFDFD !important;
}
.btn-div button a img{
    background-color: #FFFDFD !important;
    outline: 2px solid #FFFDFD !important;
}