@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    background-color: #EFECEF;
}
.navbar-brand img{
    width: 75% !important;
    height: 6rem !important;
}
.navbar .nav-link{
    color: #0F0E0E !important;
}
.links{
    gap: 9rem !important;
    margin-bottom: 36px !important;
}
.links .active{
    color: var(--Secondary-Colour, #00B4D8);
    
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-inline: auto !important;
    border: 1px solid #333;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #333;
}

table .date{
    background-color: #EFECEF;
}
table .active{
    background-color: #00B4D8;
}